.about{

padding:100px 20px;

}

.about-grid{

display:grid;

grid-template-columns:1.2fr 1fr;

gap:40px;

align-items:center;

}

.about-left{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:24px;

padding:40px;

backdrop-filter:blur(16px);

transition:.35s;

}

.about-left:hover{

transform:translateY(-8px);

border-color:#C084FC;

}

.about-left h3{

font-size:2rem;

margin-bottom:20px;

}

.about-left p{

color:#BDBDBD;

line-height:1.9;

margin-bottom:18px;

}

.about-right{

display:flex;

flex-direction:column;

gap:22px;

}

.info-card{

display:flex;

align-items:center;

gap:18px;

padding:28px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

transition:.35s;

backdrop-filter:blur(15px);

}

.info-card:hover{

transform:translateX(8px);

border-color:#C084FC;

}

.info-icon{

font-size:32px;

color:#FACC15;

flex-shrink:0;

}

.info-card h4{

margin-bottom:8px;

font-size:1.1rem;

}

.info-card p{

color:#BDBDBD;

line-height:1.7;

}

@media(max-width:900px){

.about-grid{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.about{

padding:80px 15px;

}

.about-left{

padding:28px;

}

.info-card{

padding:22px;

}

}